.container {
    text-align: center;
}

.board {
    width: 320px;
    margin: auto;
}

.cell {
    width: 100px;
    height: 100px;
    background: lightgray;
    border: 1px solid black;
    display: inline-block;
    line-height: 100px;
    font-size: 36px;
    cursor: pointer;
}

button {
    margin-top: 20px;
    font-size: 18px;
}

